button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: black;
  border: 2px solid black; /* Asignamos un borde de 2px, solido y de color negro */
  border-radius: 15px; /* Podemos hacer que las esquinas sean redondeadas */
  margin: 5px;
  cursor: pointer; /* El cursor cambia al apoyar este mismo sobre el boton */
  font-size: 35px;
}

button:hover {
  background-color: #be5f05; /* Cambiamos el color de fondo del boton cuando el cursos este apoyado en este */
}
/* Cada boton tendra su color de fondo dependiendo de su clase */
.boton-clic {
  background-color: #3377ff;
}

.boton-reiniciar {
  background-color: #aa00ff;
}