/* App.css le dara estilo al archivo del componente App */
* {
  margin: 0; /* Eliminamos el margin y padding que tienen por defecto algunos elementos */
  padding: 0;
}

html, body {
  font-size: 18px; /* Seleccionamos un tamano de letra para todo el body */
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.principal-container {
  background-color: white; /* Seleccionamos un color de fondo para el contenedor principal */
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}